<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Andrea D'Amico" />
	</head>

	<body>
		<section class="content">
			<header>
				<a href="/">kc00l at blog</a>
			</header>	
			{{ content }}
			<footer>
			<div class="contact">
				<p>
				<a href="http://www.flickr.com/photos/51960103@N08/">My Flickr photostream</a>
				</p>
			</div>
			</footer>
		</section>
		<a href="http://github.com/adamico"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
	</body>

</html>
